@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --white:#ffffff;
    --blue: #5e6ebd;
    --red: #de5a96;
    --black:#132213;
    --gray: #4E545A;
    --darkblue: #2A4F6E;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
 
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--gray);
    font-size: 18px;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #f5f5f5;
}

.mainpagecontainer {
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 9%;
    background:var(--white);
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20em;
}

.user {
    display: flex;
    flex-direction: column;
}

.profile_name {
    font-size: large;
    font-weight: 600;
    color: var(--gray);
}

.user_class {
    font-size: 14px;

}

.logoholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 9.5em;
}

.logoholder span {
    font-size: 30px;
    font-weight: bold;
    color: var(--gray);
}

.header .logo{
    width: 3em;
}

.header nav .bell {
    width: 2em;
    height: 2em;
}

.header nav .horizontal {
    border-left: 1px solid var(--gray);
    height: 2em;
}

.header nav .down_arrow {
    width: 1.2em;
    height: 1em;

}

.header nav .profile_pic {
    width: 3em;
    height:3em;
    border-radius: 50%; 
}

.mainpage {
    display: flex;
    height: 130vh;
}

.sidenav {
    flex: 0.5;
    /* height: 100vh; */
    height: 100%;
    padding: 50px;
    /* background: #6A92B4; */
    background: linear-gradient(180deg, #5e6ebd, #de5a96);

}

.sidenav ul {
    display: flex;
    flex-direction: column;
}

.sidenav ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 15px 0;
}

.sidenav ul li a {
    color: white;
}

.mainnav {
    display: flex;
    flex: 4;
    padding:5rem 9%;
    flex-direction: column;
}

.welcometext {
    font-size: 45px;
    font-weight: bolder;
    color: #4E545A;
    margin: 18px 0;
}

.widgetcards {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.widget {
    display: flex;
    flex-direction: column;
    width: 18em;
    background: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

}

.topwidget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.countwidget span {
    font-size: 40px;
    font-weight: bold;
    color: var(--gray);
}

.countwidget {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    align-items: center;
}

.countwidget2 span {
    font-size: 40px;
    font-weight: bold;
    color: #66BB6A;
}

.countwidget2 {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    align-items: center;
}

.countwidget3 span {
    font-size: 40px;
    font-weight: bold;
    color: #F4A100;
}

.countwidget3 {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    align-items: center;
}

.taskbottom {
    color: var(--gray);
}

.bottomwidget {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkblue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottomwidget span{
   font-size: 24px;
   font-weight: bold;
   color: white;

}

.bottomwidget2 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #66BB6A;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottomwidget2 span {
    font-size: 24px;
    font-weight: bold;
    color: white;
 }

.bottomwidget3 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4A100;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottomwidget3 span{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.plans {
    display: flex;
    flex-direction: column;
    margin: 5em 0;
}

.whattodo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    color: var(--gray);
    text-decoration: none;

}

.mainlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:5rem 9%;
    width: 100%;

}

.planslist, .planslist2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.planslist, .planslist2 {
    height: 7em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.todo a, .calendar a, .notes a, .contact a {
    font-size: 24px;
    color: var(--gray);
    text-decoration: none;
}

.counticon img {
    width:50px;
}

/* .sidenav ul li img {
    height: 20px;
} */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    color:var(--black);
    padding: 1.5rem 0;
    position: absolute;
    bottom: 0;
}











