:root {
    --white:#ffffff;
    --blue: #5e6ebd;
    --red: #de5a96;
    --black:#132213;
    --gray: #4E545A;
    --grey: #6B7280;
    --darkblue: #2A4F6E;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

.todoheader {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
    border-radius: 10px;
    background: white;
    box-shadow: var(--box-shadow);
    
}

#new-task-form {
	display: flex;
    flex-direction: row;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 2rem;
	font-size: 1.25rem;
    width: 75%;
    border: 1px solid #d2d1d1;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	font-size: 1.25rem;
	font-weight: 700;
    width: 25%;
    background: #5e6ebd;
    color: white;
	cursor: pointer;
    border-radius: 5px;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

.populatetodo {
    margin-top: 2em;
	max-width: 800px;
	width: 100%;
    border: 1px solid #dfdfdf;
}

.task-list {
	padding: 3rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--gray);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--blue);
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 3rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: white;
	font-size: 14px;
	width: 100%;
	display: block;
}

.task .content .text:not(:read-only) {
	color: yellow
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
    color: yellow;
}

.task .actions .delete {
	color: #e74c3c;
}